body,html {
	color:#000;
	background:#ffffff;
}

#widgets {
	background:#99c;
}

.col {
	float:left;
	margin:5px;
}

.widget {
	width:100%;
	margin:10px;
	border: 1px black solid;
}

.widget iframe{
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

