<html>
  <head>
    <title>Bazaar</title>
  </head>
  <body>
    <h1>My Products</h1>
    <div id="product-list">
        <div id="product">
            <span id="status">
            </span>
            <span id="name">
            </span>
        </div>
    </div>
    <hr/>
    <h1>Peer's Products</h1>

      <form action="products">
          <input type="text" name="peer" placeholder="Enter peer's github login"/>
          <!-- http://localhost:8080/products?peer=joesmith  -->
      </form>

      <div id="peer-product-list">
        <div id="peer-product">
            <span id="status">
            </span>
            <span id="name">
            </span>
        </div>
    </div>
  </body>
</html>
